body {
  font-family: Arial, sans-serif;
  background-color: #d5f1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}
.card {
  background: #aee2fc;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 320px;
}
.profile_picture{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.about_box {
    max-width: 300px;
    background-color: #d4edfa;
    border-radius: 12px;
    padding: 5%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }

.card h2 {
  margin: 12px 0;
}
.card p {
  color: #236282;
}

.email a {
  margin: 0 12px;
  color: #236282;
}

.social_links a {
  margin: 0 12px;
  text-decoration: none;
  color: #333;
  font-size: 22px;
}

.icon {
  width: 24px;
  height: 24px;
}
